{% if settings.breadcrumb_banner_enable %}
<div class="page-banner-section section breadcrumbs overlay-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="page-banner text-center">
          <h1 class="breadcrumbs-title">{{ page_title }}</h1>
          {% include 'breadcrumb-builtin' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}