{% if settings.product_cart_type == 'ajax_popup_cart' %}
<!-- modalAddToCart -->
<div class="modal fade ajax-popup" id="modalAddToCart" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog white-modal modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="popup-image">
          <img class="popupimage" src="">
        </div>
        <div class="popup-content">
          <div class="modal-content-text">
            <span class="productmsg"></span>
            <span class="success-message"> <i class="fa fa-check-circle"></i> {{ settings.successfull_note }}</span>        
          </div>
          <div class="modal-button">
            <a href="/cart" class="">{{ settings.view_cart_button2 }}</a>
          </div>        	
        </div>
        <div class="modal-close">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modalAddToCart -->
{% endif %}
<!-- modalAddToCart Error -->
<div class="modal fade ajax-popup error-ajax-popup" id="modalAddToCartError" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog white-modal modal-md">
    <div class="modal-content ">
      <div class="modal-body">
        <div class="modal-content-text">
          <div class="error_message"></div>
        </div>
        <div class="modal-close">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        </div>
      </div>
    </div>
  </div>
</div>